.container{
    margin-top: 10%;
    text-align: center;
    width: 35%;
}

.form-row {
    margin-bottom: 20px;
}

.header {
    text-align: center;
    margin-bottom: 3%;
}

.comment {
    margin-bottom: 20px;
}
