.container{
    margin-left: 450px;
    width: 800px;
    min-height: 800px;
   margin-top: 60px;
}

.form-row {
    width: 500px;
    margin-bottom: 20px;
}

.header {
    text-align: center;
    margin-top: 30px;
}

.comment {
    margin-left: 120px;
    margin-bottom: 20px;
}

.button {
    margin-left: 147px;
}
